body {
    /* background: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg); */
    /* background: url(https://cdn.pixabay.com/photo/2014/12/15/14/05/home-office-569153_960_720.jpg); */
    background-image: url("../images/coffee.jpg");
    background-size: cover;
    background-position: top;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Catamaran', serif;
    color: white;
}

#login {
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 14px 14px 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand:hover {
    background-color: steelblue;
    color: steelblue;
}

.center {
    text-align: center;
    padding-top: 15%;
}

.spinner-button {
    background-color: white;
}